<!-- <p *ngFor="let event of events">
  {{event.id}} - {{event.place}} - {{event.startDate}} - {{event.endDate}}
  
</p>
 -->

 


<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Początek wydarzenia</th>
      <th scope="col">Koniec wydarzenia</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Typ imprezy</th>
      <th scope="col"><button [routerLink]="['/placeSelect']" class="btn btn-success">Dodaj wydarzenie</button></th>
    
    </tr>
  </thead>
  <tbody *ngFor="let event of events">
    <tr>

      <td>{{event.name}}</td>
      <td>{{event.startDate}}</td>
      <td>{{event.endDate}}</td>
      <td>{{event.placeName}}</td>
      <td>{{event.typeOfEvent}}</td>
      <td>
        <button [routerLink]="['/eventEdit', event.id]" class="btn btn-primary mx-1">Edytuj</button>
        <button [routerLink]="['/eventStuff', event.id]"  class="btn btn-info mx-1">Szczegóły</button>
        <button (click)="deleteEvent(event.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
  </tbody>
</table>