
<div class="float-right">
  <button *ngIf="checkRole() != 'pracownik'"  [routerLink]="['/eventSelect']" class="btn btn-success mx-2 my-2">Dodaj namiot</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Festiwal</th>
      <th scope="col">Szerkość</th>
      <th scope="col">Długość</th>
      <th scope="col">Postawiony?</th>
      <th scope="col">Ściągnięty</th>
      <th scope="col-3">Akcja</th>

      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marquee of marquees">

      <td>{{marquee.eventName}}</td>
      <td>{{marquee.width}}</td>
      <td>{{marquee.length}}</td>
      <td>{{marquee.isUp? 'Tak':'Nie'}}</td>
      <td>{{marquee.isDown? 'Tak':'Nie'}}</td>
      <td>
        <button *ngIf=""[routerLink]="['/marqueeEdit', marquee.id]" class="btn btn-primary mx-1">Edytuj</button>
        <button [routerLink]="['/marqueeStuff', marquee.id]" class="btn btn-info mx-1">Szczegóły</button>
        <button *ngIf="checkRole() != 'pracownik'" (click)="deleteMarquee(marquee.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
  </tbody>
</table>