

<input [(ngModel)]="this.searchString" placeholder="Szukaj" type="text"><button (click)="this.getMarquees()" class="btn btn-info">Szukaj</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Festiwal<br/>
        <button class="btn btn-info" (click)="this.sortBy = 1"><p class="arrow up" [ngClass]="setColor(1)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 2"><p class="arrow down" [ngClass]="setColor(2)"></p></button>
      </th>
      <th scope="col">Szerkość<br/>
        <button class="btn btn-info" (click)="this.sortBy = 3"><p class="arrow up" [ngClass]="setColor(3)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 4"><p class="arrow down" [ngClass]="setColor(4)"></p></button>
      </th>
      <th scope="col">Długość<br/>
        <button class="btn btn-info" (click)="this.sortBy = 5"><p class="arrow up" [ngClass]="setColor(5)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 6"><p class="arrow down" [ngClass]="setColor(6)"></p></button>
      </th>
      <th scope="col">Postawiony?<br/>
        <button class="btn btn-info" (click)="this.sortBy = 9"><p class="arrow up" [ngClass]="setColor(9)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 10"><p class="arrow down" [ngClass]="setColor(10)"></p></button>
      </th>
      <th scope="col">Ściągnięty<br/>
        <button class="btn btn-info" (click)="this.sortBy = 11"><p class="arrow up" [ngClass]="setColor(11)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 12"><p class="arrow down" [ngClass]="setColor(12)"></p></button>
      </th>
      <th scope="col-3">Akcja<br/>

      </th>

      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marquee of apiResponse.data">

      <td>{{marquee.eventName}}</td>
      <td>{{marquee.width}}</td>
      <td>{{marquee.length}}</td>
      <td>{{marquee.isUp? 'Tak':'Nie'}}</td>
      <td>{{marquee.isDown? 'Tak':'Nie'}}</td>
      <td>
        <button *ngIf="checkRole() != 'pracownik'"[routerLink]="['/marqueeEdit', marquee.id]" class="btn btn-primary mx-1">Edytuj</button>
        <button [routerLink]="['/marqueeStuff', marquee.id]" class="btn btn-info mx-1">Szczegóły</button>
        <button *ngIf="checkRole() != 'pracownik'" (click)="deleteMarquee(marquee.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
  </tbody>
</table>