<!-- <p *ngFor="let place of places">
  {{place.id}} - {{place.street}} - {{place.town}} - {{place.postCode}}
</p> -->

<div class="float-right">
  <button *ngIf="checkRole() != 'pracownik'" [routerLink]="['/equipmentsAdd']" class="btn btn-success mx-2 my-2">Dodaj sprzęt</button>
</div>

<input [(ngModel)]="this.searchString" placeholder="Szukaj" type="text"><button (click)="this.getEquipments()" class="btn btn-info">Szukaj</button>

<div *ngIf="apiResponse != null">
<table class="table table-hover">
  <thead>
    <tr>


      <th scope="col">Nazwa <br/> 
        <button class="btn btn-info" (click)="this.sortBy = 1"><p class="arrow up" [ngClass]="setColor(1)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 2"><p class="arrow up" [ngClass]="setColor(2)"></p></button>
      </th>
      <th scope="col">Typ <br/> 
        <button class="btn btn-info" (click)="this.sortBy = 3"><p class="arrow up" [ngClass]="setColor(3)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 4"><p class="arrow up" [ngClass]="setColor(4)"></p></button>
      </th>
     <th scope="col">Akcja</th>

    
    </tr>
  </thead>
  <tbody  *ngFor="let equipment of apiResponse.data">
    <tr>
      <td>{{equipment.name}}</td>
      <td>{{equipment.equipmentType}}</td>

      <td>
         <!-- <button *ngIf="checkRole() != 'pracownik'" (click)="selectPlace(place.id)" class="btn btn-primary mx-1">Edytuj</button> -->
        <button [routerLink]="['/equipmentsEdit/'+ equipment.id]" class="btn btn-primary mx-1">Edytuj</button>
        <button [routerLink]="['/equipmentsBreakdowns/'+ equipment.id]"class="btn btn-info mx-1">Szczegóły</button>
        <button  (click)="deleteEquipment(equipment.id)" class="btn btn-danger ">Usuń</button> 
      </td>
      
    </tr>
  </tbody>
</table>
</div>
<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="pageNumber" (click)="setPage(pageNumber)"></pagination>
  </div>
</div>
