<form *ngIf="isLoaded" #registerForm="ngForm" (ngSubmit)="editPlace()">
  <h2 class="text-center text-primary">Edytuj</h2>
  <hr>
  <div class="form-group">
    
    <input type="text" class="form-control"   name="number"  [(ngModel)]="model.number">
  </div>
  <div class="form-group">

    <input type="text" class="form-control"   name="street"  [(ngModel)]="model.street">
  </div>
  <div class="form-group">
   
      <input type="text" class="form-control" placeholder="Miejscowość" name="town"  [(ngModel)]="model.town">
  </div>
  <div class="form-group">
 
    <input type="text" class="form-control" placeholder="Województwo" name="firstGrade"  [(ngModel)]="model.firstGradeDivision">
</div>

<div class="form-group">
 
  <input type="text" class="form-control" placeholder="Powiat" name="secondGrade"  [(ngModel)]="model.secondGradeDivision">
</div>

<div class="form-group">
 
  <input type="text" class="form-control" placeholder="Gmina" name="thirdGrade"  [(ngModel)]="model.thirdGradeDivision">
</div>

<div class="form-group">
 
  <input type="text" class="form-control" placeholder="Kod pocztowy" name="post-code"  [(ngModel)]="model.postCode">
</div>



  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Edytuj</button>


  </div>
</form> 
