<!-- <p *ngFor="let marquee of marquees">
  {{marquee.id}} - {{marquee.event}}
  {{marquee.width}} - {{marquee.length}}
  
  </p>
   -->


   <!-- <a class="nav-link" [routerLink]="['/workers']"> -->

<div class="card-deck my-4 mx-0">
  <div class="card mx-4">
    <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/ACtC-3eKO2l_Y6lrbfMYlU8IwuQ8q0dizzq5DGwEHPfJ0Jfdnb-JkFerrtZDO4W_E75AbBs30ZRrkyGrvjfe2T4wp-BQ4PlDECaM1z9IQyQhg346smk-nYIRX9WgCn0Sw-BIVyW0oKB2AJEw1noJh-pmulEO=w1258-h944-no?authuser=0" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Namioty</h5>
      <p class="card-text">Usuń, modyfikuj, wyszukaj lub sprawdź szczegóły namiotu</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [routerLink]="['/marqueesList']">Przejdź</button>
    </div>
  </div>
  <div class="card mx-4">
    <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/ACtC-3eOIjP53by_6UFaE6KLb4NgJg5XOKBaMJDWZ-TmuLIi9JRADxN6y6-fm98at7XHP7eQ4lkgBzt04CJWtVDvxdOaTM6L7SjKlZelI0D3Y3z6WDHwD05-GQH8lh3G8YuXF2d15dOjfVgsfCdFGMG-ek3b=w1258-h943-no?authuser=0" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wydarzenia</h5>
      <p class="card-text">Dodaj, usun lub modyfikuj nadchodzące wydarzenie.</p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/eventsList']" class="btn btn-primary">Przejdź</button>
    </div>
  </div>
  <div class="card mx-4">
    <img class="card-img-top"  src="https://lh3.googleusercontent.com/pw/ACtC-3f3JGuNpNEfp00-2aTIcypMEyhDnPkWYEXtE6vVmotVU9U2UkmN1D4vYh4unWGLgcM7joCUliIdJ520NkAeqwpuEsDodZDpd6pCfgXtanQ4Z8O08N3d6A4SEwCwKlJ6P6w6fwVgSfYDrd-0nLtWIC6J=w1258-h943-no?authuser=0" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Miejsca</h5>
      <p class="card-text">Dodanie, usuwanie i modyfikacja miejsc, w których odbędą się wydarzenia.</p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/placesList']" class="btn btn-primary">Przejdź</button>
      
    </div>
  </div>
</div>