<div *ngIf="isLoaded">
  <table class="table table-hover">
    <thead>
      <tr>
  
        <th scope="col">Szerkość</th>
        <th scope="col">Długość</th>
        <th scope="col">Postawiony?</th>
        <th scope="col">Ściągnięty</th>
  
  
        
  
      
      </tr>
    </thead>
    <tbody>
      <tr>
  
        <td>{{marquee.width}}</td>
        <td>{{marquee.length}}</td>
        <td>{{marquee.isUp? 'Tak':'Nie'}}</td>
        <td>{{marquee.isDown? 'Tak':'Nie'}}</td>
        <td>
  
        </td>
        
      </tr>
    </tbody>
  </table>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Część</th>
        <th scope="col">Ilość</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="this.smallLegs != 0">
        <td >Nogi 3-9m</td>
        <td >{{this.smallLegs}}</td>
      </tr>
      <tr *ngIf="this.bigLegs != 0">
        <td>Nogi 12m</td>
        <td>{{this.bigLegs}}</td>
      </tr>
  
      <tr *ngIf="this.rafters3m != 0">
        <td>Krokwie 3m</td>
        <td>{{this.rafters3m}}</td>
      </tr>
  
      <tr *ngIf="this.rafters6m != 0">
        <td>Krokwie 6m</td>
        <td>{{this.rafters6m}}</td>
      </tr>
  
      <tr *ngIf="this.rafters9m != 0">
        <td>Krokwie 9m</td>
        <td>{{this.rafters9m}}</td>
      </tr>
  
      <tr *ngIf="this.rafters12m != 0">
        <td>Krokwie 12m</td>
        <td>{{this.rafters12m}}</td>
      </tr>
  
      <tr *ngIf="this.smallPlates != 0">
        <td>Małe podstawki i śledzie</td>
        <td>{{this.smallPlates}}</td>
      </tr>
  
      <tr *ngIf="this.bigPlates != 0">
        <td>Duże podstawki i śledzie</td>
        <td>{{this.bigPlates}}</td>
      </tr>
  
      <tr *ngIf="this.walls != 0">
        <td>Ściany</td>
        <td>{{this.walls}}</td>
      </tr>
  
      <tr *ngIf="this.roofs3m != 0">
        <td>Dachy 3m</td>
        <td>{{this.roofs3m}}</td>
      </tr>
  
      <tr *ngIf="this.roofs6m != 0">
        <td>Dachy 6m</td>
        <td>{{this.roofs6m}}</td>
      </tr>
  
      <tr *ngIf="this.roofs9m != 0">
        <td>Dachy 9m</td>
        <td>{{this.roofs9m}}</td>
      </tr>
  
      <tr *ngIf="this.roofs12m != 0">
        <td>Dachy 12m</td>
        <td>{{this.roofs12m}}</td>
      </tr>
  
      <tr *ngIf="this.perlines != 0">
        <td>Wewnętrzne łączniki</td>
        <td>{{this.perlines}}</td>
      </tr>
  
      <tr *ngIf="this.smallHookups != 0">
        <td>Zewnętrzne łączniki 3-9m</td>
        <td>{{this.smallHookups}}</td>
      </tr>
  
      <tr *ngIf="this.bigHookups != 0">
        <td>Zewnętrzne łączniki 12m</td>
        <td>{{this.bigHookups}}</td>
      </tr>
  
      <tr *ngIf="this.smallApexes != 0">
        <td>Wierzchołki 3-9m</td>
        <td>{{this.smallApexes}}</td>
      </tr>
  
      <tr *ngIf="this.bigApexes != 0">
        <td>Wierzchołki 12m</td>
        <td>{{this.bigApexes}}</td>
      </tr>
  
      <tr *ngIf="this.endleg3to9 != 0">
        <td>Nogi końcowe 3-9m</td>
        <td>{{this.endleg3to9}}</td>
      </tr>
  
      <tr *ngIf="this.shortEndlegs != 0">
        <td>Nogi końcowe 12m krótkie</td>
        <td>{{this.shortEndlegs}}</td>
      </tr>
  
      <tr *ngIf="this.longEndlegs != 0">
        <td>Nogi końcowe 12m długie</td>
        <td>{{this.longEndlegs}}</td>
      </tr>
  
  
    </tbody>
  </table>
<p *ngIf="marquee.description != null">
  Opis: {{marquee.description}}
</p>
