<div>
  
  <div  id="accordion">
    <div *ngIf="this.PlaceIsFounded" class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button  class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Pogoda
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <table class="table table-sm ">
            <thead>
              <tr class="table-success">
                
                <th scope="col">Temperatura</th>
                <th scope="col">Prędkość wiatru</th>
                <th scope="col">Opis</th>
                <th scope="col">Zachmurzenie</th>
                <th scope="col">Miejscowość</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td *ngIf="dangerTemperature()==0; else elseTemperature">{{WeatherData.temp_celcius}}&deg;C</td>
                  <ng-template #elseTemperature ><td *ngIf="dangerTemperature()==1; else coldTemperature">{{WeatherData.temp_celcius}}&deg;C</td></ng-template>
                    <ng-template #coldTemperature ><td style="color:blue;">{{WeatherData.temp_celcius}}&deg;C</td></ng-template>
                
                <td  *ngIf="!tooStrongWind(); else elseWind"> {{WeatherData.wind_speed}}km/h</td>
                <ng-template #elseWind ><td style="color: red;">{{WeatherData.wind_speed}}km/h</td></ng-template> 
                <td> {{WeatherData.description}}</td>
                <td>{{WeatherData.cloudiness}}%</td>
                <td>{{WeatherData.town}}</td>
              </tr>
              
            </tbody>
          </table>
          <div style="color: red;" id="alerts">
            <div *ngIf="tooStrongWind()">Uwaga: Silny wiatr!</div>
            <div *ngIf="dangerTemperature()==1">Uwaga: Wysoka temperatura!</div>
            <div *ngIf="otherDangerCondition()">{{this.otherDangerConditionVar}}</div>
            <div style="color: blue;" *ngIf="dangerTemperature()==2">Uwaga: Niska temperatura!</div>
          </div>
            
        </div>
      </div>
    </div>
      <div *ngIf="this.perlines" class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-info" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Części
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">

            <div class="actions">
              <button class ="btn-info btn" (click)="onExportClick()">
                Przygotuj do druku
              </button>
            </div>
 <div id='elemet-to-export'>   
  <p style="font-size: large;" class="text-center">Wydarzenie: {{this.marquees[0].eventName}} </p>  
<table  class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Część</th>
      <th scope="col">Ilość</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngIf="this.smallLegs != 0">
      <td >Nogi 3-9m</td>
      <td >{{this.smallLegs}}</td>
    </tr>
    <tr *ngIf="this.bigLegs != 0">
      <td>Nogi 12m</td>
      <td>{{this.bigLegs}}</td>
    </tr>

    <tr *ngIf="this.rafters3m != 0">
      <td>Krokwie 3m</td>
      <td>{{this.rafters3m}}</td>
    </tr>

    <tr *ngIf="this.rafters6m != 0">
      <td>Krokwie 6m</td>
      <td>{{this.rafters6m}}</td>
    </tr>

    <tr *ngIf="this.rafters9m != 0">
      <td>Krokwie 9m</td>
      <td>{{this.rafters9m}}</td>
    </tr>

    <tr *ngIf="this.rafters12m != 0">
      <td>Krokwie 12m</td>
      <td>{{this.rafters12m}}</td>
    </tr>

    <tr *ngIf="this.smallPlates != 0">
      <td>Małe podstawki i śledzie</td>
      <td>{{this.smallPlates}}</td>
    </tr>

    <tr *ngIf="this.bigPlates != 0">
      <td>Duże podstawki i śledzie</td>
      <td>{{this.bigPlates}}</td>
    </tr>

    <tr *ngIf="this.walls != 0">
      <td>Ściany</td>
      <td>{{this.walls}}</td>
    </tr>

    <tr *ngIf="this.roofs3m != 0">
      <td>Dachy 3m</td>
      <td>{{this.roofs3m}}</td>
    </tr>

    <tr *ngIf="this.roofs6m != 0">
      <td>Dachy 6m</td>
      <td>{{this.roofs6m}}</td>
    </tr>

    <tr *ngIf="this.roofs9m != 0">
      <td>Dachy 9m</td>
      <td>{{this.roofs9m}}</td>
    </tr>

    <tr *ngIf="this.roofs12m != 0">
      <td>Dachy 12m</td>
      <td>{{this.roofs12m}}</td>
    </tr>

    <tr *ngIf="this.perlines != 0">
      <td>Wewnętrzne łączniki</td>
      <td>{{this.perlines}}</td>
    </tr>

    <tr *ngIf="this.smallHookups != 0">
      <td>Zewnętrzne łączniki 3-9m</td>
      <td>{{this.smallHookups}}</td>
    </tr>

    <tr *ngIf="this.bigHookups != 0">
      <td>Zewnętrzne łączniki 12m</td>
      <td>{{this.bigHookups}}</td>
    </tr>

    <tr *ngIf="this.smallApexes != 0">
      <td>Wierzchołki 3-9m</td>
      <td>{{this.smallApexes}}</td>
    </tr>

    <tr *ngIf="this.bigApexes != 0">
      <td>Wierzchołki 12m</td>
      <td>{{this.bigApexes}}</td>
    </tr>

    <tr *ngIf="this.endleg3to9 != 0">
      <td>Nogi końcowe 3-9m</td>
      <td>{{this.endleg3to9}}</td>
    </tr>

    <tr *ngIf="this.shortEndlegs != 0">
      <td>Nogi końcowe 12m krótkie</td>
      <td>{{this.shortEndlegs}}</td>
    </tr>

    <tr *ngIf="this.longEndlegs != 0">
      <td>Nogi końcowe 12m długie</td>
      <td>{{this.longEndlegs}}</td>
    </tr>


  </tbody>
</table>
</div>   


          </div>
        </div>
      </div>
    
  </div> 

  



  

  

<table *ngIf="this.perlines; else elseBlock"  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Festiwal</th>
      <th scope="col">Szerkość</th>
      <th scope="col">Długość</th>
      <th scope="col">Postawiony?</th>
      <th scope="col">Ściągnięty</th>
      <th scope="col-3">Akcja</th>

      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marquee of marquees" >
     
      <td>{{marquee.eventName}}</td>
      <td>{{marquee.width}}</td>
      <td>{{marquee.length}}</td>
      <td>{{marquee.isUp? 'Tak':'Nie'}}</td>
      <td >{{marquee.isDown? 'Tak':'Nie'}}</td>

      <td>
        <button *ngIf="checkRole() != 'pracownik'" [routerLink]="['/marqueeEdit', marquee.id]" class="btn btn-primary mx-1">Edytuj</button>
        <button [routerLink]="['/marqueeStuff', marquee.id]"  class="btn btn-info mx-1">Szczegóły</button>
        <button *ngIf="checkRole() != 'pracownik'" (click)="openModal(template, marquee.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
    

  </tbody>
</table>
<ng-template #elseBlock>Brak namiotów<br/></ng-template>
<button *ngIf="checkRole() != 'pracownik'"  [routerLink]="['/marqueesAdd', id]" class="btn btn-danger  float-right" style="margin-right: 11.5%;">Dodaj namiot</button>
















</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Na pewno chcesz usunąć namiot?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Tak</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Nie</button>
  </div>
</ng-template>