



<form class="rounded border-info border container my-2" #registerForm="ngForm" (ngSubmit)="addBreakdown()">
<h2 class="text-center text-success font-weight-bold mt-2">Dodaj awarie</h2>
<hr>
<div class="form-group">

  <input type="text" class="form-control" placeholder="Opis" id="description"  name="description"  [(ngModel)]="model.description">
  </div>


  <div class="form-group">
 
    <input type="date" class="form-control" placeholder="Data rozpoczęcia" name="accitdentDate"  [(ngModel)]="model.accitdentDate">
</div>
<div class="form-group">

  <input type="date" class="form-control" placeholder="Data zakonczenia" name="repairdDate"  [(ngModel)]="model.repairdDate">
</div>




  <div class="form-group text-center my-4">
  <button class="btn btn-success" type="submit">Dodaj</button>
  <button (click)="backToEquipmentBreakdowns()" class="btn btn-light">Wróć</button>

  </div>

</form>

