<!-- <div *ngIf="apiResponse != null">
  <button *ngIf="checkRole() == 'admin'" [routerLink]="['/register']" class="btn btn-danger float-right">Dodaj pracownika</button>
  <p *ngFor="let worker of apiResponse.data">
    {{worker.login}}
    <button [routerLink]="['/conversation',worker.id ]" class="btn btn-primary">Napisz</button>
    <button *ngIf="checkRole() == 'admin'"  [routerLink]="['/editWorker',worker.id ]" class="btn btn-danger mx-1">Edytuj</button>
  </p>
  <button (click)="setPage(1)">1</button> 
  <button (click)="setPage(2)">2</button> 
  
  [(ngModel)]="model.login"

</div> -->



<div *ngIf="apiResponse != null">
  <button *ngIf="checkRole() == 'admin'" [routerLink]="['/register']" class="btn btn-danger float-right">Dodaj pracownika</button>
  <div class="row ml-1 my-2">
    <input [(ngModel)]="this.searchString" class="col-2  form-control input-lg input-lg" placeholder="Szukaj" type="text"><button (click)="this.loadWorkersWithSearch()" class="btn btn-info ml-1">Szukaj</button>
    </div>

  <table  class="table">
    <thead>
      <tr>
        <th scope="col">Login <button class="btn btn-info" (click)="this.sortBy = 1"><p class="arrow up" [ngClass]="setColor(1)"></p></button>
          <button class="btn btn-info" (click)="this.sortBy = 2"><p class="arrow down" [ngClass]="setColor(2)"></p></button></th>
        <th scope="col">Imie<button class="btn btn-info"  (click)="this.sortBy = 3"><p [ngClass]="setColor(3)" class="arrow up"></p></button>
          <button class="btn btn-info" (click)="this.sortBy = 4"><p [ngClass]="setColor(4)" class="arrow down"></p></button></th>
        <th scope="col">Nazwisko<button class="btn btn-info" (click)="this.sortBy = 5" ><p class="arrow up" [ngClass]="setColor(5)"></p></button>
          <button class="btn btn-info" (click)="this.sortBy = 6"><p [ngClass]="setColor(6)" class="arrow down"></p></button></th>

        <th scope="col">Akcja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of apiResponse.data">

        <td>{{worker.login}}</td>
        <td>{{worker.firstName}}</td>
        <td>{{worker.lastName}}</td>
        <td>
          <button [disabled]="isUser(worker.id)" [routerLink]="['/conversation',worker.id ]" class="btn btn-primary">Napisz</button>
          <button [disabled]="isUser(worker.id)" *ngIf="checkRole() == 'admin'"  [routerLink]="['/editWorker',worker.id ]" class="btn btn-danger mx-1">Edytuj</button>
          <button [disabled]="isUser(worker.id)" *ngIf="checkRole() == 'admin'"  (click)="openModal(template, worker.id)" class="btn btn-danger mx-1">Usuń</button>
        </td>
      </tr>


    </tbody>
  </table>








<div class="d-flex">
  <pagination class="mr-auto " [nextText]="paginationWords.nextPageText"  [previousText]="paginationWords.previousPageText" [itemsPerPage]="pageSize" [totalItems]="totalItems" [(ngModel)]="pageNumber" (click)="setPage(pageNumber)"></pagination>
  <div class="pr-4">
    <label>Ilość wierszy:</label>
    <select (change)="loadWorkers()" name="typeOfEvent" [(ngModel)]="pageSize" class="form-control ">
     <option *ngFor="let size of sizesOfPage" [ngValue]="size">{{size}}</option>
    </select>
  </div>

</div>
    

  

</div>

<div class="form-group">

 
 </div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Na pewno chcesz usunąć użytkownika?</p>
    <p>Usuwając użytkownika usuniesz też jego rozmowy!</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Tak</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Nie</button>
  </div>
</ng-template>


