
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Od kogo</th>
      <th scope="col">Tresc</th>
      <th scope="col">Data wyslania</th>

      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages.data"
    [ngClass]="{'font-weight-bold': message.message.isRead == false && message.message.recipientId == id}">
      
      <td>{{message.nameOfUser}}</td>
      <td>{{message.message.content}}</td>
      <td>{{message.message.sendDate}}</td>
      <td><button  [routerLink]="['/conversation',getIdWorker(message) ]" class="btn btn-primary">Przejdź</button></td>
      

      <td>

      </td>
      
    </tr>
  </tbody>
</table>

<div class="d-flex">
  <pagination class="mr-auto " [nextText]="paginationWords.nextPageText"  [previousText]="paginationWords.previousPageText" [itemsPerPage]="pageSize" [totalItems]="totalItems" [(ngModel)]="pageNumber" (click)="setPage(pageNumber)"></pagination>
  <div class="pr-4">
    <label>Ilość wierszy:</label>
    <select (change)="getMessages()" name="typeOfEvent" [(ngModel)]="pageSize" class="form-control ">
     <option *ngFor="let size of paginationWords.sizesOfPage" [ngValue]="size">{{size}}</option>
    </select>
  </div>

</div>
