

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nadawca</th>
      <th scope="col">Odbiorca</th>
      <th scope="col">Tresc</th>
      <th scope="col">Data wyslania</th>


      

    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages"
    [ngClass]="{'font-weight-bold': message.isRead == false && message.recipientId == id}">

      <td>{{message.senderId}}</td>
      <td>{{message.recipientId}}</td>
      <td>{{message.content}}</td>
      <td>{{message.sendDate}}</td>
      <td><button  [routerLink]="['/conversation',getIdWorker(message) ]" class="btn btn-primary">Przejdź</button></td>
      


      <td>

      </td>
      
    </tr>
  </tbody>
</table>