
<div class="float-right">
  <button  class="btn btn-success mx-2 my-2">Dodaj miejsce</button>
</div>

<table *ngFor="let place of places" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ulica</th>
      <th scope="col">Miejscowość</th>
      <th scope="col">Województwo</th>
      <th scope="col">Powiat</th>
      <th scope="col">Gmina</th>
      <th scope="col">Kod pocztowy</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{place.street}}</td>
      <td>{{place.town}}</td>
      <td>{{place.firstGradeDivision}}</td>
      <td>{{place.secondGradeDivision}}</td>
      <td>{{place.thirdGradeDivision}}</td>
      <td>{{place.postCode}}</td>
      <td>
        <button (click)="selectPlace(place.id)" class="btn btn-primary mx-1">Wybierz</button>

      </td>
      
    </tr>
  </tbody>
</table>