<!-- <p *ngFor="let place of places">
  {{place.id}} - {{place.street}} - {{place.town}} - {{place.postCode}}
</p> -->

<div class="float-right">
  <button *ngIf="checkRole() != 'pracownik'" [routerLink]="['/placesAdd']" class="btn btn-success mx-2 my-2">Dodaj miejsce</button>
</div>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numer</th>
      <th scope="col">Ulica</th>
      <th scope="col">Miejscowość</th>
      <th scope="col">Województwo</th>
      <th scope="col">Powiat</th>
      <th scope="col">Gmina</th>
      <th scope="col">Kod pocztowy</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let place of places">
      <td>{{place.number}}</td>
      <td>{{place.street}}</td>
      <td>{{place.town}}</td>
      <td>{{place.firstGradeDivision}}</td>
      <td>{{place.secondGradeDivision}}</td>
      <td>{{place.thirdGradeDivision}}</td>
      <td>{{place.postCode}}</td>
      <td>
        <button *ngIf="checkRole() != 'pracownik'" (click)="selectPlace(place.id)" class="btn btn-primary mx-1">Edytuj</button>
        
        <button *ngIf="checkRole() != 'pracownik'" (click)="deletePlace(place.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
  </tbody>
</table>