<!-- <p *ngFor="let place of places">
  {{place.id}} - {{place.street}} - {{place.town}} - {{place.postCode}}
</p> -->

<div class="float-right">
  <button *ngIf="checkRole() != 'pracownik'" [routerLink]="['/placesAdd']" class="btn btn-success mx-2 my-2">Dodaj miejsce</button>
</div>
<div class="row ml-1 my-2">
  <input [(ngModel)]="this.searchString" class="col-2  form-control input-lg input-lg" placeholder="Szukaj" type="text"><button (click)="this.getPlaces()" class="btn btn-info ml-1">Szukaj</button>
  </div>
<div *ngIf="apiResponse != null">
<table  class="table table-hover">
  <thead>
    <tr>

      <th scope="col">Numer <br/> <button class="btn btn-info" (click)="this.sortBy = 1"><p class="arrow up" [ngClass]="setColor(1)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 2"><p class="arrow down" [ngClass]="setColor(2)"></p></button>
      </th>
      <th scope="col">Ulica<br/>
        <button class="btn btn-info" (click)="this.sortBy = 3"><p class="arrow up" [ngClass]="setColor(3)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 4"><p class="arrow down" [ngClass]="setColor(4)"></p></button>
      </th>
      <th scope="col">Miejscowość<br/>
        <button class="btn btn-info" (click)="this.sortBy = 5"><p class="arrow up" [ngClass]="setColor(5)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 6"><p class="arrow down" [ngClass]="setColor(6)"></p></button>
      </th>
      <th scope="col">Województwo<br/>
        <button class="btn btn-info" (click)="this.sortBy = 7"><p class="arrow up" [ngClass]="setColor(7)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 8"><p class="arrow down" [ngClass]="setColor(8)"></p></button>
      </th>
      <th scope="col">Powiat<br/>
        <button class="btn btn-info" (click)="this.sortBy = 9"><p class="arrow up" [ngClass]="setColor(9)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 10"><p class="arrow down" [ngClass]="setColor(10)"></p></button>
      </th>
      <th scope="col">Gmina<br/>
        <button class="btn btn-info" (click)="this.sortBy = 11"><p class="arrow up" [ngClass]="setColor(11)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 12"><p class="arrow down" [ngClass]="setColor(12)"></p></button>
      </th>
      <th scope="col">Kod pocztowy<br/>
        <button class="btn btn-info" (click)="this.sortBy = 13"><p class="arrow up" [ngClass]="setColor(13)"></p></button>
        <button class="btn btn-info" (click)="this.sortBy = 14"><p class="arrow down" [ngClass]="setColor(14)"></p></button>
      </th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let place of apiResponse.data">
      <td>{{place.number}}</td>
      <td>{{place.street}}</td>
      <td>{{place.town}}</td>
      <td>{{place.firstGradeDivision}}</td>
      <td>{{place.secondGradeDivision}}</td>
      <td>{{place.thirdGradeDivision}}</td>
      <td>{{place.postCode}}</td>
      <td>
        <button *ngIf="checkRole() != 'pracownik'" (click)="selectPlace(place.id)" class="btn btn-primary mx-1">Edytuj</button>
        
        <button *ngIf="checkRole() != 'pracownik'" (click)="openModal(template, place.id)" class="btn btn-danger mx-1">Usuń</button>
      </td>
      
    </tr>
  </tbody>
</table>
</div>







<div class="d-flex pb-2">
  <pagination class="mr-auto " [itemsPerPage]="pageSize" [totalItems]="totalItems" [(ngModel)]="pageNumber" (click)="setPage(pageNumber)"></pagination>
  <div class="pr-4">
    <label>Ilość wierszy:</label>
    <select (change)="getPlaces()" name="typeOfEvent" [(ngModel)]="pageSize" class="form-control ">
     <option *ngFor="let size of sizesOfPage" [ngValue]="size">{{size}}</option>
    </select>
  </div>

</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Na pewno chcesz usunąć miejsce?</p>
    <p>Usuwając miejsce, automatycznie usuwasz też wydarzenia jak i namioty w nim zawarte</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Tak</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Nie</button>
  </div>
</ng-template>