<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Początek wydarzenia</th>
      <th scope="col">Koniec wydarzenia</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Typ imprezy</th>
 
    
    </tr>
  </thead>
  <tbody *ngFor="let event of events">
    <tr>

      <td>{{event.name}}</td>
      <td>{{event.startDate}}</td>
      <td>{{event.endDate}}</td>
      <td>{{event.placeName}}</td>
      <td>{{event.typeOfEvent}}</td>
      <td>
        <button (click)="selectEvent(event.id)" class="btn btn-primary mx-1">Wybierz</button>

      </td>
      
    </tr>
  </tbody>
</table>