<!-- <p *ngFor="let marquee of marquees">
  {{marquee.id}} - {{marquee.event}}
  {{marquee.width}} - {{marquee.length}}
  
  </p>
   -->


   <!-- <a class="nav-link" [routerLink]="['/workers']"> -->

    <div class="card-deck my-4 mx-0">
      <div class="card mx-4">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/ACtC-3c526qVhl1QbvBprLpwUVb60CoTDqqPmqMD1nZ2s5T_ZsTVry6hY3mlaF_7AXOW_o1t7YiiZuaQkTh0pnMQeCbn6OMfOP6Ul4yqVxUDtgCzw5ELYWyWGUCp8Zt63YxYM016SVuhWIwxJfQkY1KfJsnW=w1258-h944-no?authuser=0" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Awarie</h5>
          <p class="card-text">Przeglądanie, usuwanie i modyfikacja awarii.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" [routerLink]="['/breakdownsList']">Przejdź</button> 
        </div>
      </div>
      <div class="card mx-4">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/ACtC-3fh7f5g9zeV5fC9xzhU4JfmmdxlugmiLtszOJ-JO4zYq9XqzNXUOCkGfGawLYArVTS7ryhDGb41ZbONRoiCr5nYFgq-1Ya8EKlNmbweo-gV-icE3xUbtagNxoXDr7q-q9WwDi1ZowDhcRN26VcFYXu5=w1677-h943-no?authuser=0" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sprzęt</h5>
          <p class="card-text">Dodaj, usun lub modyfikuj sprzęt.</p> 
        </div>
        <div class="card-footer">
          <button [routerLink]="['/equipments']" class="btn btn-primary">Przejdź</button>
        </div>
      </div>
    </div>