<form #registerForm="ngForm" (ngSubmit)="addMarquee()">
  <h2 class="text-center text-primary">Dodaj namiot</h2>
  <hr>

  <div class="form-group">
 
      <input type="number" class="form-control" placeholder="Szerokosc" name="width"  [(ngModel)]="model.width">
  </div>
  <div class="form-group">
 
    <input type="number" class="form-control" placeholder="Dlugosc" name="length"  [(ngModel)]="model.length">
</div>

<div class="form-group">
 
  <input type="text" class="form-control" placeholder="Opis" name="description"  [(ngModel)]="model.description">
</div>



<div class="form-group" >
  <label class="control-label" style="margin-right:10px">Postawiony?: </label>
  <label class="radio-inline" >
    <input class="mr-3" type="radio" [value]="true" name="isUp" [(ngModel)]="model.isUp" >Tak
  </label>
  <label class="radio-inline ml-3">
    <input class="mr-3" type="radio" [value]="false" name="isUp" [(ngModel)]="model.isUp" >Nie
  </label>
</div>


<div class="form-group">
  <label class="control-label" style="margin-right:10px">Ściągniety?: </label>
  <label class="radio-inline">
    <input class="mr-3" type="radio" [value]="true" name="isDown" [(ngModel)]="model.isDown" >Tak
  </label>
  <label class="radio-inline ml-3">
    <input class="mr-3" type="radio" [value]="false" name="isDown" [(ngModel)]="model.isDown" >Nie
  </label>
</div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Dodaj</button>
    

  </div>
</form> 
